<p style="color: green"><%= notice %></p>

<h1>All Daily Mood Ratings</h1>

<div id="days" >
  <% @days.each do |day| %>
  <div class="daydetails">
    <%= render day %>
    <p>
      <%= link_to "Show this day", day %>
    </p>
    </div>
  <% end %>
</div>

<%= link_to "New day", new_day_path %>
